
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(Fondo.jpg); /* Imagen de fondo para el seudoelemento */
  background-size: cover;
  opacity: 0.5; /* Ajusta la opacidad aquí */
  z-index: -1; /* Asegura que el seudoelemento esté detrás del contenido */
}


.colTipos{

  width: 40px;

}


.logoP{
  width: 110px; height:40px;
}

.carousel-inner{
  max-height: 24rem;
}

.nav{
display: flex;
flex-direction: column;
gap: 1rem;
align-items: flex-start;
}

.list-unstyled{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .5rem;
}

.btn-header{
  padding: .5rem;
}

#tipo {
  resize: none;
}

.centrado{
  text-align: center;
  vertical-align: middle;
}

:root {
  --clr-black:rgb(15, 15, 15);
  --clr-white:#f7f7f7;
  --clr-grey:#ececec;

  --type-normal: rgb(159, 161, 159);
  --type-fire: rgb(230, 39, 39);
  --type-water: rgb(41, 127, 240);
  --type-grass: rgb(62, 161, 40);
  --type-electric: rgb(250, 192, 2);
  --type-ice: rgb(64, 217, 255);
  --type-fighting: rgb(255, 128, 0);
  --type-poison: rgb(146, 65, 204);
  --type-ground: rgb(145, 82, 33);
  --type-flying: rgb(43, 128, 240);
  --type-psychic: rgb(240, 65, 120);
  --type-bug: rgb(145, 161, 26);
  --type-rock: rgb(176, 170, 130);
  --type-ghost: rgb(112, 65, 112);
  --type-dark: rgb(43, 128, 240);
  --type-dragon: rgb(79, 64, 62);
  --type-steel: rgb(95, 160, 184);
  --type-fairy: rgb(242, 111, 242);

}

.nav-link{
  color: var(--clr-white)
}

.vertodos{
  background-color: #f7f7f7;
  color: var(--clr-black)
}

.normal{
    background-color: var(--type-normal);
    color: var(--clr-black)
}

.fire{
  background-color: var(--type-fire);
  color: var(--clr-white)
}

.water{
  background-color: var(--type-water);
  color: var(--clr-black)
}

.grass{
  background-color: var(--type-grass);
  color: var(--clr-black)
}

.electric{
  background-color: var(--type-electric);
  color: var(--clr-black)
}

.ice{
  background-color: var(--type-ice);
  color: var(--clr-black)
}
.fighting{
  background-color: var(--type-fighting);
  color: var(--clr-black)
}
.poison{
  background-color: var(--type-poison);
  color: var(--clr-white)
}
.ground{
  background-color: var(--type-ground);
  color: var(--clr-white)
}

.flying{
  background-color: var(--type-flying);
  color: var(--clr-black)
}

.psychic{
  background-color: var(--type-psychic);
  color: var(--clr-black)
}

.bug{
  background-color: var(--type-bug);
  color: var(--clr-white)
}

.rock{
  background-color: var(--type-rock);
  color: var(--clr-white)
}

.ghost{
  background-color: var(--type-ghost);
  color: var(--clr-white)
}

.dark{
  background-color: var(--type-dark);
  color: var(--clr-black)
}

.dragon{
  background-color: var(--type-dragon);
  color: var(--clr-white)
}

.steel{
  background-color: var(--type-steel);
  color: var(--clr-black)
}

.fairy{
  background-color: var(--type-fairy);
  color: var(--clr-black)
}